$text-color: #000;
$bg-color: #FF0000;
$main-margin: 120px;
$main-margin-mobile: 60px;  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-logo {
    width: 300px;
    padding: 5px 25px;
    background-color: $bg-color;
    margin-top: $main-margin-mobile;

    font-family: Arial;
    font-size: 60px;
    font-style: italic;
    font-weight: 700;
    line-height: 69px;
    letter-spacing: -0.05em;
    text-align: center;
    color: $text-color;
}

.header-timer {
    margin-top: 40px;

    font-family: Space Mono;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    font-feature-settings: 'calt' off, 'liga' off;

    color: #000000;
}

.main {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-img {
        &_image img {
            width: 365px;
        }

        &_slider {
            margin-top: 20px;

            font-family: Space Mono;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: center;
        }
    }

    &-text {
        margin: 40px 12px 0 12px;

        font-family: Space Mono;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;

        &_title {
            margin-top: 5px;
            
            font-weight: 700;
            font-size: 25px;
        }

        &_content {
            margin-top: 12px;
        }
    }
}

.social {
    margin-top: 30px;
    margin-bottom: $main-margin-mobile;
    width: 360px;

    font-family: Space Mono;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;


    &-list {
        color: $text-color;
        list-style: none;
    }

    &-el a {
        text-decoration: none;
        color: $text-color;
        padding-right: 3px;

        &:hover {
            background-color: #FF0000;
            color: #FFF;
        }

        &:active {
            color: #FFF;
        }
    }
}

@media screen and (min-width: 958px){

    .main {
        flex-direction: row;
        width: 800px;

        &-img {
            margin-right: 20px;
        }

        &-text {
            position: relative;

            top: -35px;
        }
    }

    .social {
        width: auto;

        &-list {
            display: flex;
            flex-direction: row;
        }

        &-el {
            padding-right: 25px;

            &:last-of-type { 
                padding-right: 0;
            }
        }
    }

}